@tailwind base;
@tailwind components;
@tailwind utilities;
@import "leaflet/dist/leaflet.css";
@import 'flowbite/dist/flowbite.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --transition-duration: 0.3s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--background);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
  transition: background-color var(--transition-duration) ease,
              color var(--transition-duration) ease,
              border-color var(--transition-duration) ease,
              box-shadow var(--transition-duration) ease;
}
